.job-data {

    border: 0 solid lightgray;
    padding-bottom: 2em;
    margin-bottom: 2em;

    .job-title {
        font-weight: 700;
        margin-bottom: 0.3em;
        font-family: 'Merriweather';
    }

    .job-dates {
        font-size: 90%;
        color: gray;
        margin-bottom: 1em;
    }

    .job-description {
        white-space: break-spaces;
        line-height: 150%;
    }

    .job-skillset-container {
        display: flex;
        flex-wrap: wrap;
        max-width: 70vw;
        font-size: 125%;
        display: flex;
        margin-top: 1em;
        margin-left: 0.5em;
    }
}