@import '../../../index.scss';

$logo-size: 2em;
.technology-link {
    display: flex;
    margin: 0.3em 0;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
    span {
        line-height: $logo-size;
    }    
    .technology-logo-container {
        margin-right: 0.6em;
        @include normalized-image($logo-size);
    }
}
