@import '../../../../index.scss';

.project-card {
    &:not(.open){
        background: linear-gradient(to right, $primaryColor, $accentColor);
        border-radius: 0.4em;
        border: solid $accentColor 1px;
        // box-shadow: var(--box-shadow);
    
        // &:hover {
        //     transform: translateY(-6%);
        // }
    }

    &.open {
        z-index: 100;
    }

    &.container {
        width: 29vw;
        min-width: 29vh;
        height: 30vh;
        margin-bottom: 10vh;
        font-size: 150%;
        font-weight: 800;
        // transition: transform 0.3s ease-in-out;
    }

    > .tilt-detector {
        height: 100%;
        width: 100%;
        cursor: pointer;
        > * {
            transform: perspective(1000px) translateZ(50px); 
            filter: drop-shadow(2px 2px 5px rgba(0,0,0,0.5));
            pointer-events: none;
        }
    }
}