.closed-card {
    font-family: 'Montserrat';
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    width: 100%;
    height: 100%;
    padding: 1em 1.2em;
    cursor: pointer;

    .logo.closed-project {
        margin-right: 2em;
        width: 4em;
    }

    * {
        user-select: none;
    }
}