#about-me {
    margin-bottom: 10vh;
    position: relative;

    .paragraph {
        margin: 0 42% 0 15%;
        text-align: justify;
        line-height: 2;
    }
}

#container-photo-thiago {
    position: absolute;
    right: 2vw;
    top: 10vh;
}