.isometric-background {
    background-image: url('../components/IsometricSquares/Quadrados Transparentes2.svg');
    background-repeat: no-repeat;
    background-position-y: 20%;
    background-position-x: 80%;
    /* background-position-y: calc((-1)*var(--scroll)*0.5px + 700px); */
    /* background-position-x: calc((-1)*var(--scroll-sin)*50px + 90%); */
    background-size: 25%;
}