#skills-section {
    .filter-input-container {
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        margin-bottom: 2em;
        padding-right: 7vw;
        > input {
            font-size: 1.5em;
        }
        .closing-x {
            top: 0;
            left: 1em;
            position: relative;
        }
    }
    .section-title {
        margin-bottom: 2em;
    }
}

.skill-list-container {
    width: 100%;
    padding-left: 5%;
    overflow: hidden;
    transition: height 0.3s ease-in-out;

    > div {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-evenly;
        margin: 0 auto;
    }
    > * > * {
        font-size: 1.4em;
    }
}