#project-section {
    // background-color: transparent;
    .isometric-cubes-container {
        // z-index: -1;
        position: relative;
        > * {
            width: 90vw;
            height: 130vh;
            position: absolute;
            right: 0;
            top: 30vh;
        }
    }
}

.project-gallery-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-gallery {
    width: 70%;
    margin-right: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}