.project-gallery-wrapper {
    width: 100%;
    // display: flex;
    align-items: center;
    justify-content: center;
}

.project-gallery {
    width: 70%;
    margin-right: 2vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}