#background {
    position: absolute;
    height: 100%;
    
    .isometric-cubes-container {
      position: relative;
      width: 100vw;
      height: 34%;
      > * {
          position: absolute;
          right: 60vw;
          top: 5%;
      }
    }
    
    .isometric-cubes-container:first-child {
      
      > * {
          right: 0;
          top: -5%;
      }
    }
  
    #wave-background {
      margin-top: -25%;
    }
  }