@import '../../../../index.scss';

.company-logo-container  {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-2em);

    > a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        pointer-events: none;
        filter: drop-shadow(3px 2px 2px rgba(0,0,0,0.5));
        &:hover > * {
            transform: translateY(-1.5vh);
        }
        > * {
            transition: all 0.3s ease-in-out;
            pointer-events: all;
        }
    }

    .company-name {
        font-size: 1.2em;
        text-align: center;
        font-weight: 700;
        margin-bottom: 1em;
        font-family: 'Merriweather';
    }
    
    .company-logo{
        @include normalized-image(10em);
    }
}
