#fixed-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

#main-page-body {
    width: 92vw;
    margin-left: 8vw;
}

.fixed-loading {
    position: fixed; 
    bottom: 10vh; 
    left: 3vw;
    z-index: 10;
}