.project-text-column {
    padding: 4vh;
    height: 100%;
    width: 100%;
    .project-text-column-wraper {
        display: flex;
        flex-direction: column;
        font-size: initial;
        font-weight: initial;
        pointer-events: all;
        height: 100%;
        width: 100%;
        padding: 4vh;
        background-color: white;
        border-radius: 0.3em;
    }
}

.project-title-container {
    font-size: 120%;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.project-title {
    font-weight: bold;
    margin-bottom: 1em;    
    * {
        display: inline !important;  
        img {
            max-height: 1.2em;
            transform: translateY(0.2em);
        }
        a {
            font-weight: normal;
        }
    }
}

.categories-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-between;
    width: 100%;
    max-height: 60%;
    margin-bottom: -1em;

    .break {
        flex-basis: 100%;
        width: 0;
    }
}

.project-description {
    text-align: justify;
}