#about-me {
    margin-bottom: 10vh;
    margin-right: 2vw;
    position: relative;

    #about-me-content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        flex-wrap: wrap;
    }

    .paragraph {
        margin: 0 10%;
        text-align: justify;
        line-height: 2;
        flex: 1 1 300px;
        margin-top: 1vw;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}

#container-photo-thiago {
    transform: translateY(-3vw);
    margin-left: -2vw;
    margin-bottom: -2vw;
    margin-top: -3vw;
}